#app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .card {
    width: 100%;
  max-width: 100%;
  background-color: bisque;
  box-shadow: 0 4px 8px 0 bisque;
  transition: 0.3s;
  
  }
  .scrollable-card {
    height: 300px; /* Set the desired height for the card */
    overflow-y: auto; /* Enable vertical scrolling */
  }
  .card:hover {
    box-shadow: 0 18px 25px 0 rgba(255, 174, 0, 0.2);
  }
  .btn:hover {
    box-shadow: 0 18px 25px 0 rgba(34, 0, 255, 0.2);
  }
  .table-card{
    width: auto;
    height: auto;
  }

  .custom-card {
    width: 50%;
    height: 50%
  }

  .card2{
    width: 60%;
  max-width: 100%;
  background-color: bisque;
  }
  .table-heading {
    padding-right: 40px;
  }
  .card-body {
    padding-top: 30px; 
        
  }
  .card-footer {
    margin-top: 30px;
    
  }
  .navbar-brand{
    color: black;
  }

  body {
    background-color: rgb(26, 24, 94);
    font-family: cursive;
    font-weight: bold; /* Replace with your desired font family */
    font-size: 20px;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: cursive;
    font-weight: bold;
  }

  .custom-navbar {
    background-color: bisque;
  }
  .custom-navbar .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .carousel-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
  }
  
  .carousel-caption h6 {
    margin-bottom: 5px;
  }
  
  .card1{
    margin: auto;
    margin-top: 5%;
    width: 18 rem;
    font-size: xx-large;
    text-align: center;
    background-color: rgb(244, 122, 124);
    color: rgb(26, 24, 92);
    border: 1px solid black;
  }

  #carouselExampleFade{
    margin: auto;
    margin-top: 5%;
    width: 18 rem;
    font-size: xx-large;
    text-align: center;
    background-color: rgb(244, 122, 124);
    color: rgb(26, 24, 92);
    border: 1px solid black;
  }
  
  .card1 img {
    width: 70%;
    height: 70%;
    object-fit: cover;
  }
  